/*
 *  This file is part of The Unnamed Game.
 *
 *  The Unnamed Game is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  The Unnamed Game is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with The Unnamed Game.  If not, see <http://www.gnu.org/licenses/>.
 */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #134B38; /* 134B13 */
  font-size: 15px;
/*  font-size: medium; */

}

body:fullscreen {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
/*  background-color: rgba(19,75,56,0); *//* 134B13 */
  font-size: 15px;
/*  font-size: medium; */

}

.container {
  display: flex;
  flex-flow: row;
  min-height: 50px;
  background-color: #134B38; /* 134B13 */
}

.leftBar {
  flex: 0 0 0;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  height: 100vh; /* all heights on page determined by this height */
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  background-color: inherit; /* #134B13 */
  display: flex;
  flex-direction: column;
  font-size: 95%;
/*  font-size: 0.8vw; */
}

#leftBarTop { /* region above statsArea */
  text-shadow: 1px 1px black;
  width: 100%;
  flex: 1 1 0;
  flex-direction: column;
  border-spacing: 2px;
}

.main {
  height: 100vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.col {
  margin: 2px;
}

.topBtns {
  background: inherit; /* #134B13 */
  flex-direction: column;
  margin-bottom: 0px;
  /*border-left: 2px solid #0F3B0F;*/
  /*  padding-left: 2px;*/
  flex: 1 0 0;
  margin-left: 0px;
}

.output {
/*  background-color: #1a3a1d;*/
  background-color: #0E260E;
  /*  color: #87b78b;*/
  color: white;
  text-shadow: 3px 3px 2px black;
/*  text-shadow: 1px 1px 1px black;*/
  flex-direction: column;
  flex: 16 0 0;
  padding-left: 4px;
  padding-right: 4px;
  overflow-y: scroll;
  white-space: pre-wrap;
}

.botBtns {
  background: inherit; /* #134B13 */
  flex-direction: column;
  flex: 2 0 0;
/*  padding: 4px;*/
  color: white;
  margin:0px;
}

.rightBar {
  flex:2 0 0;
  width: 138px;
  min-width: 138px;
  max-width: 138px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  background-color: #134B13;
}

.ribbonBtn {
  flex: 1 0 0;
  height: 100%;
  width: 100%;
}

.ribbonBtnBot {
  flex-direction: column;
  flex: 1 0 0;
  height: 5vh;
  min-height: 5vh;
  max-height: 5vh;
  width: 100%;
  overflow: hidden;
  border-top-width: 0px;
  flex: 1;
/* hide buttons until buttons are made visible by scripting
   (use "display: inline;" to make them visible). */
  display:none;
}

.topRibbonCell {
  width: 16.66%;
  height: 100%;
}

.botRibbonCell {
  width: 16.66%;
  flex: 1 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

#settings {
  margin-left: 14%;
  width: 86%;
}

button, select{
  /*  background-color: #50A850; */
  background-color: #3A8C71;
  color: white;
  text-shadow: 1px 1px black;
  text-shadow: 1px 1px black;
  border-spacing: 3px 3px;
  /*  border: 3px outset #50A850; */
  border: 3px outset #3A8C71;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
/*  border-top-color: #50A850;
  border-left-color: #50A850; */
  border-top-color: #3A8C71;
  border-left-color: #3A8C71;
  border-bottom-color: #0F3B0F;
  border-right-color: #0F3B0F; /*  #285428 */
}

button:active {
  border-bottom-color: #3A8C71;
  border-right-color: #3A8C71;
  border-top-color: #0F3B0F;
  border-left-color: #0F3B0F;
}

.statBar {
  border: 2px solid #0F3B0F;
  background-color: black;
}
.statBar > text {
  font-size: 65%;
  y: 75;
  fill: white;
  text-shadow: 1px 1px black;
}
.statBar > rect {
  /* fill: rgb(32,128,32); */ /* stat bar colour */
  fill: #149669;
}

.rightColDataField {
  display: inline;
  float: right;
  direction: rtl;
/*  unicode-bidi: bidi-override;*/
  text-align: right;
  padding-right: 2px;
}

.nonBarStats {
  padding-left: 2px;
}

.statBar > .barStr {
  text-align: left;
  font-size: 70%; /* stat bar font size */
}

.statBar > .barNum {
  text-align: right;
  direction: rtl;
  font-size: 70%; /* stat bar font size */
}

#statsArea {
  flex: 18 1 0;
  flex-direction: column;
  text-shadow: 1px 1px black;
}

.sideBarBtn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  flex: 1 0 0;
  margin: 0 auto;
  flex-direction: column;
}

.settingsBtn {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  margin: 0 auto;
  float:none;
}

.settingsField {
  display: inline;
  box-sizing: border-box;
  width: 8vw;
  float: none;
  background-color: #196767;
  color: white;
  text-shadow: 1px 1px black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #;
    opacity: 1; /* Firefox */
}

::-moz-placeholder {
  color: #00CC00;
  opacity: 1;
  text-shadow: 1px 1px black;
}

/*rect > levelBar {
  width: 75%;
}*/
a:link {
  color: #2272D9;
}
a:visited {
  color: #2272D9;
}
/* <center> is not a supported tag in HTML5, so implement it ourselves */
center {
  text-align:center;
}
/* wow, that was easy for once. Now we have a shortcut again. */

red {
  color: red;
}
blue {
  color: #2272D9; /*#800080*/
}
yellow {
  color: yellow;
}
white {
  color: white;
}
pink {
  color: LightPink;
}
purple {
  color: #AD5BAD;
}
orange {
  color: orange;
}
black {
  color: black;
}
